*.arg
*.exp
*.dll
*.lib
*.sln
*.tds
*.tr2
*.reg
*.cis
*.yam
*.old
*.zip
blkfile*
bin/go-*.bat
bin/BLAT/
bin/CSO/
bin/DNSWALK/
bin/ICMPPUSH/
bin/GNUTELLA/
bin/HACK/
bin/LIBHTTP.09/
bin/LIBSPOPC.03/
bin/M-HTTPD/
bin/MASS-DNS/
bin/MISC/
bin/NASH/
bin/NETPERF/
bin/NEWS/
bin/NIST/
bin/PATHALI/
bin/PAUL/
bin/PCHAR/
bin/PFTP/
bin/PMAIL/
bin/RMTD/
bin/RSYNC/
bin/SENDIP/
bin/SLRN.098/
bin/SMBPD/
bin/SNARF.70/
bin/SSH/
bin/TELNET/
bin/TIMEOUT/
bin/WAKEUP/
bin/WGET/
bin/WPUT.030/
src/bob/
src/build/
src/cyrus/
src/DLL/
src/gundolf/
src/ideas/
src/netinet.bsd/
src/old/
src/orig/
src/sack/
src/search/
src/tmp/
src/tests-2/
src/watt-doc/
src/reconn.udp
src/language.c
dist/
docs/
ertos/
faq/
inet_ext/
notes/
open-vpn/
rpc/
smb/
smb2/
snmp/
zip/
core
CORE
./*.bat
./src/*.mak
*.exe
*.dif
*.dmp
*.doc
*.c~
*.h~
*.lst
*.log
*.hlp
*.htm
*.inc
*.msg
*.hlp
*.cft
*.css
*.dat
*.faq
*.bin
*.txt
*.wat
*.ilk
*.pdb
*.pbi
*.pbo
*.out
*.obj
*.o
*.wo
*.o32
*.rc
*.srv
*.upx
*.win
*._xe
*.mai
*.def
*.cpp
*.dbg
*.map
*.suo


