*.arg
*.exe
*.exe.manifest
*.exp
*.dll
*.dif
*.dmp
*.doc
*.c~
*.h~
*.lst
*.log
*.hlp
*.htm
*.inc
*.msg
*.hlp
*.cft
*.css
*.dat
*.faq
*.bin
*.txt
*.wat
*.ilk
*.pdb
*.pbi
*.pbo
*.out
*.obj
*.o
*.wo
*.ho
*.o32
*.srv
*.upx
*.win
*._xe
*.mai
*.def
*.cpp
*.dbg
*.map
*.suo
*.lib
*.sln
*.tds
*.tr2
*.reg
*.cis
*.yam
*.old
*.zip
*.depend*
array-bounds.c
src/*.mak
src/tests/*.mak
blkfile*
bin/go-*.bat
bin/BLAT/
bin/CSO/
bin/DNSWALK/
bin/ICMPPUSH/
bin/GNUTELLA/
bin/HACK/
bin/LIBHTTP.09/
bin/LIBSPOPC.03/
bin/M-HTTPD/
bin/MASS-DNS/
bin/MISC/
bin/NASH/
bin/NETPERF/
bin/NEWS/
bin/NIST/
bin/PATHALI/
bin/PAUL/
bin/PCHAR/
bin/PFTP/
bin/PMAIL/
bin/RMTD/
bin/RSYNC/
bin/SENDIP/
bin/SLRN.098/
bin/SMBPD/
bin/SNARF.70/
bin/SSH/
bin/TELNET/
bin/TIMEOUT/
bin/WAKEUP/
bin/WGET/
bin/WPUT.030/
src/BOB/
src/build/borland
src/build/clang
src/build/CygWin
src/build/djgpp
src/build/HighC
src/build/lcc
src/build/MinGW32
src/build/MinGW64
src/build/pellesc
src/build/visualc
src/build/watcom
src/CYRUS/
src/DLL/
src/GUNDOLF/
src/ideas/
src/netinet.bsd/
src/OLD/
src/sack/
src/search/
src/TMP/
src/tests-2/
src/watt-doc/
src/reconn.udp
src/lang.c
src/pkt_stub.h
src/Python/watt32_swig_wrap.c
inc/sys/*.err
dist/
docs/
ertos/
faq/
inet_ext/
notes/
open-vpn/
rpc/
smb/
smb2/
snmp/
zip/
CI/
core
CORE

